@media (min-width: 1124px) {

    .page-main__wrapper {
        margin: 0;
        padding: 80px;
    }

    .page-main__container {
        margin: 0;
        padding: 100px 100px 80px;
    }
    .select-container {
        margin: 0;
        margin-right: 20px;
    }

    .event-card {
        width: 600px;
    }


}